{
    "JERSEYBBW": {                                                 ##项目上下文名称
      "projectHome": "/usr/local/tomcatgroup",                     ##tomcat的安装路径
      "projectType": "jersey",                                     ##项目类型（leap/jersy）
      "backupConfPath" : "/home/longrise/testleap/jersy/bak",      ##备份的jersy配置文件的路径（leap项目没有此项）
      "serviceCheckUrl":"/LEAP/Resource/generalIndex/Login2.html"  ##服务检测地址
      "serviceMaxCheckTime":300
      "tomcats": [                                                 ##对应tomcat列表
        "93"
      ]
    },
  "INSHACCDEMO": {                                                  ##项目上下文
      "projectHome": "/usr/longrise/LEAP/LEAP.Project/INSHDEMO",    ##项目上下文所在路径
      "projectType": "leap",                                        ##项目类型
      "tomcats": [                                                  ##对应tomcat列表
        "46"
      ],
      "serviceCheckUrl":"/LEAP/Resource/generalIndex/Login2.html"   ##服务检测地址
      "serviceMaxCheckTime":300
    }

}